# project: DeepImageJ
# author: Daniel Sage, Biomedical Imaging Group, EPFL
# date: 24 July 2019

Plugins>DeepImageJ, "DeepImageJ Run", DeepImageJ_Run
Plugins>DeepImageJ, "DeepImageJ Build BundledModel", DeepImageJ_Build_BundledModel
Plugins>DeepImageJ, "DeepImageJ Install Mode", DeepImageJ_InstallMode
