# project: DeepImageJ
# author: Daniel Sage, Biomedical Imaging Group, EPFL
# date: 24 July 2019

Plugins>DeepImageJ, "DeepImageJ Run", DeepImageJ_Run
Plugins>DeepImageJ, "DeepImageJ Cellpose", Cellpose_DeepImageJ
Plugins>DeepImageJ, "DeepImageJ StarDist", Stardist_DeepImageJ
Plugins>DeepImageJ, "Create Macro", Create_Macro
Plugins>DeepImageJ, "Install model manually", Install_From_URL_Or_Path
